* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
}

.layout {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}
