.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
}

.content {
  padding: 16px;
  box-shadow: 0px 4px 20px 0px #00000014;
  border-radius: 16px;
  position: absolute;
  max-width: 468px;
  width: 100%;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 22px;
}

input {
  margin-top: 4px;
  border: none;
  background: #f8f8f8;
  border-radius: 8px;
  padding: 16px;
}

.label p {
  font-size: 10px;
  color: #ff6161;
  line-height: normal;
}

.redOutline {
  outline-color: #ff6161;
}

.icon {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 8px;
  padding: 0;
}

.btn {
  margin-top: 8px;
  padding: 13px 156px;
  font-size: 16px;
  border-radius: 8px;
  background: #512689;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .layout {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    height: fit-content;
  }

  .content {
    position: static;
    transform: none;
    max-width: 343px;
  }

  .btn {
    padding: 13px 94px;
  }
}
