.header {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(81, 38, 137, 1);
  color: white;
  padding: 32px 80px;
}

.wrapper {
  width: 187px;
  height: 187px;
  background-color: #f2f4f5;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.profile {
  display: flex;
  width: 100%;
  margin: 7px 0;
  margin-left: 29px;
}

.text {
  padding: 29px 0 29px 32px;
}

.name {
  font-size: 64px;
  padding-bottom: 16px;
}

.partner {
  font-size: 32px;
}

.back,
.exit {
  height: 38px;
  padding: 8px 16px;
  background-color: transparent;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #f8f8f8;
  font-size: 16px;
  line-height: 22px;
  transition: all 0.3s ease;
}

.back:hover,
.exit:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
}
