.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  padding: 48px 80px 56px;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 69px;
  width: 170px;
  height: 40px;
  border: 1px solid #151317;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(81, 38, 137, 1);
  color: #fff;
}

.button:hover svg path {
  fill: #fff;
}

@media (max-width: 789px) {
  .list {
    padding: 32px 35px;
  }

  .button {
    margin-bottom: 32px;
  }
}
